*{
    padding: 0px ;
    margin: 0px ;
    box-sizing: border-box ;
    font-family: roboto, arial ;
    color: white ;
}

body{
    background-color: black ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    height: 100vh ;
}

.app{
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    width: 800px ;
    background-color: black ;
}

.header-div{
    display: flex ;
    align-items: center ;
    width: 100% ;
    padding: 15px 15px ;
}

.header-div img{
    width: 20px ;
    cursor: pointer ;
}

.header-div p{
    font-weight: 800 ;
    font-size: 25px ;
    margin-right: 10px ;
}

.display-time{
    display: flex ;
    align-items: center ;
    font-weight: 500 ;
    font-size: 17px ;
    padding: 30px ;
    margin-top: 20px ;
    justify-content: center ;
    overflow: hidden ;
    position: relative ;
    z-index: 100 ;
}

.display-time p{
    margin-right: 4px ;
}

.time-span{
    font-size: 120px ;
}

.display-time::before{
    content: '' ;
    position: absolute ;
    width: 510px ;
    height: 174px ;
    background: linear-gradient(rgb(245, 124, 3), rgb(208,22,22) ) ;
    animation: rotate 4s linear infinite ;
    z-index: -3 ;
}

.display-time::after{
    content: '' ;
    position: absolute ;
    background: black ;
    inset: 2px ;
    z-index: -2 ;
}

.border{
    background: linear-gradient(rgb(245, 124, 3), rgb(208,22,22) );
    padding: 2px ;
}

.all-previous-times, .prev-time-template{
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    justify-content: center ;
}


.prev-time-template{
    overflow: scroll ;
    height: 100px ;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    cursor: pointer ;
    padding: 20px 5px ;
}

.prev-time-template::-webkit-scrollbar {
    display: none;
}

.previous-time-template{
    display: grid ;
    width: 100% ;
    grid-template-columns: 1fr 1fr ;
    column-gap: 150px ;
    margin-bottom: 4px ;
}

.previous-time-template div{
    font-weight: 500 ;
    font-size: 17px ;
}

.recorder-time{
    font-weight: 400 ;
    font-size: 17px ;
}

.control-buttons{
    width: 400px ;
    display: flex ;
    align-items: center ;
    justify-content: space-between ;
    padding: 10px 30px ;
    margin-bottom: 20px ;
    margin-top: 20px ;
}

button img{
    width: 30px ;
}

button{
    display: flex ;
    align-items: center ;
    justify-content: center ;
    background-color: rgb(208,22,22) ;
    border: none ;
    height: 60px ;
    width: 60px ;
    border-radius: 50% ;
    cursor: pointer ;
}

button:hover{
    background-color: rgb(182, 12, 12) ;
}


@keyframes rotate {
    from{
        transform: rotate(0deg) ;
    }

    to{
        transform: rotate(360deg) ; 
    }
}

@media(max-width: 420px){
    body{
        background-color: black ;
        display: flex ;
        justify-content: center ;
        align-items: start ;
        height: 100vh ;
    }

    .app{
        display: flex ;
        flex-direction: column ;
        align-items: center ;
        width: 100% ;
        border: none ;
    }

    .display-time{
        display: flex ;
        align-items: center ;
        font-weight: 500 ;
        font-size: 17px ;
        height: 360px ;
        width: 360px ;
        border-radius: 50% ;
        margin-top: 10vh ;
        justify-content: center ;
        padding: 0px ;
    }

    .time-span{
        font-size: 70px ;
    }

    .header-div{
        display: flex ;
        align-items: center ;
        width: 100% ;
        padding: 20px 20px ;
    }

    .display-time::before{
        content: '' ;
        position: absolute ;
        height: 360px ;
        width: 300px ;
        background: linear-gradient(rgb(245, 124, 3), rgb(208,22,22) ) ;
        animation: rotate 4s linear infinite ;
        z-index: -3 ;
        border-radius: 50% ;
    }

    .display-time::after{
        content: '' ;
        position: absolute ;
        background: black ;
        inset: 3px ;
        z-index: -2 ;
    }

    .border{
        background: none ;
        padding: 0px ;
    }

    .control-buttons{
        width: 360px ;
        display: flex ;
        align-items: center ;
        justify-content: space-between ;
    }

    .control-buttons{
        width: 400px ;
        display: flex ;
        align-items: center ;
        justify-content: space-between ;
        padding: 10px 30px ;
        margin-bottom: 20px ;
        margin-top: 60px ;
    }
}

.animation::before{
    opacity: 0 ;
}
